# 编辑器临时文件
*.swp
*.swo

# 依赖目录
node_modules/

# 日志文件
*.log

# 环境变量文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.npmrc

# 临时文件
.DS_Store
Thumbs.db

# IDE配置
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 测试报告
coverage/

# 打包文件
*.tgz
*.tar.gz

# 操作系统文件
$RECYCLE.BIN/

# 其他临时文件和目录
temp/
cache/